$font-family-root: "Roboto";
$background-root: #fafafa;
$box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.25) !important;
$winner-background: #e1f8ff;
$black: #000000;
$box-shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
